* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  color: #333;
  background-color: #071d38;
}

.operationalDomain::-webkit-scrollbar,
.operationalDomain::-webkit-scrollbar- {
  width: 0.7rem;
  height: 0.7rem;
}

.operationalDomain::-webkit-scrollbar-track {
  background-color: #0b315f;
}

.operationalDomain::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #dddddd;
}

.operationalDomain::-webkit-scrollbar-corner {
  background: #ef2d0e;
  border-radius: 50%;
}

.operationalDomain {
  display: flex;
  z-index: 0;
  overflow: auto;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  max-width: 1440px;
  gap: 2rem;
  height: 90vh;
  z-index: 1;
}

h1 {
  color: #fff;
}

.react-draggable {
  z-index: 1;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: #ef2d0e;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.2rem;
}

button:hover {
  cursor: pointer;
}

.invalid-text {
  color: #ef2d0e;
}
