table {
  border-spacing: 0;
  /* border-collapse: collapse; */
  background-color: #55608fa4;
  color: #fff;
  z-index: 0;
  /* width: 100%; */
  height: 100%;
}

th {
  background-color: #55608f;
  padding: 1rem;
  margin-left: 1rem;
}

td {
  padding: 2rem;
  /* max-width: 560px; */
}

th,
td {
  position: relative;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* th:hover::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -105vh;
  bottom: -105vh;
} */
