.login-container {
    background-color: #06172d;
    margin: auto auto;
    border: solid white;
    padding: 5%;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.login-container > h1 {
    margin-top: 15px;
    margin-bottom: 30px;
}

.login-form > label {
    margin-right: 5px;
}

.login-form > input {
    margin-right: 15px;
    padding: 3px;
}

.login-button-container {
    margin-top: 45px;
    text-align: center;
}

.login-register {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    cursor: pointer;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
  }
  
  label {
    margin-right: 10px;
    min-width: 80px;
  }
  
  input[type="text"],
  input[type="password"] {
    flex: 1;
    padding: 3px;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  .register-button {
    position: relative;
    top: 20px;
    left: 160px;
  }

  .error-message {
    display: relative;
    max-width: 20rem;
    position: absolute;
    text-align: left;
    margin: auto auto;
    bottom: -120px;
  }


