.cell-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 560px;
  gap: 16px;
  margin-right: 0;
}

.cellAppElement {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  background-color: #0b315f;
  min-width: 160px;
  max-width: 200px;
  padding: 1rem;
  cursor: pointer;
  gap: 2px;
}

h4 {
  padding-top: 8px;
}

p {
  color: #e5e5e5;
}

img {
  background-color: #f5f5f5;
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
  object-fit: contain;
  padding: 4px;
  border-radius: 4px;
}
