textarea {
  resize: none;
}

.popup-content {
  padding: 3rem;
  border: none;
  border-radius: 8px;
  max-width: 480px;
  min-width: 320px;
  height: 70vh;
  background-color: #071d38;
  color: #fff;
  overflow: auto;
}

.popup-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 0 1rem;
  overflow: auto;
}

::-webkit-scrollbar,
::-webkit-scrollbar- {
  width: 0.7rem;
  height: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: #0b315f;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #dddddd;
}

.popup-container label {
  font-weight: bold;
}

.popup-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.popup-header-return {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
}

.app-description {
  font-style: italic;
  font-size: 0.9rem;
}

.app-information {
  display: flex;
  gap: 0.5rem;
}

.popup-buttons {
  display: flex;
  padding-top: 2rem;
  gap: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  max-width: 100%;
}

.css-b62m3t-container {
  background-color: #0a2b53;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 4px;
  font-size: 14px;
}

.css-14ys60p-control {
  padding-left: 12px;
  border-radius: 4px;
  font-size: 14px;
}

.css-100ebu3-menu {
  padding-left: 12px;
  font-size: 14px;
  color: white;
  background-color: #0a2b53;
  font-weight: 200;
}

.darker > .css-b62m3t-container {
  background-color: #071d38;
}

.darker .css-100ebu3-menu {
  background-color: #071d38;
}

.input-field ::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-field textarea {
  resize: none;
}

.input-field input,
.input-field select,
.input-field textarea {
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #0a2b53;
  padding: 0.6rem;
}

.darker input,
.darker textarea {
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #071d38;
  padding: 0.6rem;
}

.darker {
  margin-bottom: 10px;
}

.input-field input:focus,
.input-field select:focus,
.input-field textarea:focus {
  outline: none;
  box-shadow: 0 0px 4px rgba(255, 255, 255, 0.3);
}

.input-field input[type="file"],
.input-field input::file-selector-button {
  background-color: transparent;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0;
  box-shadow: none;
}

.input-field input::file-selector-button {
  background-color: #ef2d0e;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.8rem;
}

.input-field select {
  cursor: pointer;
}

.form-submit-btn {
  margin-top: 2rem;
}

.popup-tabs-header {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.popup-tab {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.todo-item {
  border: 1px solid white;
  border-radius: 6px;
  margin: 10px;
  padding: 10px;
  background-color: #0a2b53;
  line-height: 1.5;
}

.todo-item > h3 {
  margin-bottom: 5px;
}

.done {
  background-color: gray;
}

.doneButton {
  margin-top: 10px;
  height: 30px;
  font-size: 15px;
  font-weight: 200;
  padding: 5px;
}

.submit-todo-button-div {
  display: flex;
  justify-content: space-evenly;
}

.submit-todo-button-div > button {
  height: 30px;
  margin-top: 20px;
  width: 70px;
  font-size: 15px;
  font-weight: 200;
  padding: 5px;
}

.todo-popup-historyLink {
  cursor: pointer;
}

.todo-item-header {
  display: flex;
  justify-content: space-between;
}

.todo-delete-edit-button {
  font-size: 10px;
  padding: 5px;
  max-height: 25px;
  cursor: pointer;
  display: none;
}

.todo-item-edit-button-div {
  display: flex;
}

.todo-item:hover .todo-delete-edit-button {
  display: flex;
}

.todo-item-updatemode-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.yesNoButton {
  padding: 5px;
  margin: 5px;
  width: 40px;
}

.todo-info {
  font-size: 14px;
}

.expired {
  color: red;
}

.todo-expired-exclamation {
  border-radius: 50%;
  text-align: center;
  width: 23px;
  font-size: 20px;
  background-color: #ef2d0e;
  margin-left: 20px;
}

.checkbox-field {

}

/* .return-button {
  position:
  left: 460px;
  top: 37px;
} */
