.filter-popup {
  position: fixed;
  background-color: #071d38;
  border: solid 2px #fff;
  border-radius: 8px;
  min-width: 320px;
  z-index: 1;

}

.filter-popup-inner {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 3rem;
  margin: 0;
}

.filter-popup-inner .close-button {
  align-self: flex-end;
  margin: -1rem;
  /* position: absolute;
  /* top: 16px; */
  /* right: 16px; */
}

/* .filterbutton-container-po {
  position: relative;
  top: 48px;
  left: -67px;
} */

.filterbutton-clicked {
  font-weight: lighter;
  /* min-width: 5rem;
  max-width: 5rem; */
  /* overflow: hidden; */
}

.filterbutton-unclicked {
  font-weight: lighter;
  /* min-width: 5rem;
  max-width: 5rem; */
  background-color: #e38273;
  overflow: hidden;
}

label {
  color: #fff;
  font-weight: bold;
}

.filterButtonsTotalContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* display: grid;
  grid-template-columns: 6rem 6rem; */
}

.filterBtns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
